<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        
        <style>
        	th {
        		width: 100px;
        		border: 1px solid black;
        	}
        	h1 {
        		text-align: center;
        	}
        </style>
    </head>
    <body>
		
		<h1>Online Bank</h1>

        
        <table style="margin-left: auto; margin-right: auto">
        	<tr>
        		<th>
        			<a th:href="@{/hello}">Home</a>
        		</th>
        		<th>
        			<a th:href="@{/balance}">Check Balance</a>
        		</th>
        		<th>
        			<a th:href="@{/transfer}">Transfer Funds</a>
        		</th>
       	  		<th>
        			<a th:href="@{/profile}">Change Profile</a>
        		</th>
        		<th>
					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Sign Out"/>
        			</form>
        		</th>
        	</tr>
        	<tr>
        		<td colspan="5">
   			        <h2 th:inline="text">Profile</h2>
   			        <form action="#" th:action="@{/profile}" th:object="${profile}" method="post">
				        <table>
				        	<tr>
				        		<td>
				        			First Name:
				        		</td>
				        		<td>
				        			<input type="text" name="firstName" th:field="*{firstName}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Last Name:
				        		</td>
				        		<td>
				        			<input type="text" name="lastName" th:field="*{lastName}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Email:
				        		</td>
				        		<td>
				        			<input type="text" name="email" th:field="*{email}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Phone Number:
				        		</td>
				        		<td>
				        			<input type="number" name="phoneNumber" th:field="*{phoneNumber}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td colspan="2" style="text-align: center">
				        			<input type="submit" value="Submit"/>
				        		</td>
				        	</tr>
				        </table>
			        </form>
        		</td>
        	</tr>
        </table>
    
    </body>
</html>