<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Banking System | profile</title>
        
        <style>
        	th {
        		width: 100px;
        		border: 1px solid black;
        	}
        	h1 {
        		text-align: center;
        	}
        </style>
    </head>
    <body>
		
		<h1>Online Bank</h1>

        
        <table style="margin-left: auto; margin-right: auto">
        	<tr>
        		<th>
        			<a th:href="@{/hello}">Home</a>
        		</th>
        		<th>
        			<a th:href="@{/balance}">Check Balance</a>
        		</th>
        		<th>
        			<a th:href="@{/transfer}">Transfer Funds</a>
        		</th>
       	  		<th>
        			<a th:href="@{/profile}">Change Profile</a>
        		</th>
        		<th>
					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Sign Out"/>
        			</form>
        		</th>
        	</tr>
        	<tr>
        		<td colspan="5">
   			        <h2 th:inline="text">Profile</h2>
   			        	                <div th:if="${message}">
            			<p style="color: red;" th:text="${message}" />
            		<br />
        			</div>
   			        <form action="#" th:action="@{/profile}" th:object="${profile}" method="post" id="profileForm">
				        <table>
				        	<tr>
				        		<td>
				        			First Name:
				        		</td>
				        		<td>
				        			<input type="text" id="firstName" name="firstName" th:field="*{firstName}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Last Name:
				        		</td>
				        		<td>
				        			<input type="text" id="lastName" name="lastName" th:field="*{lastName}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Email:
				        		</td>
				        		<td>
				        			<input type="text" id="email" name="email" th:field="*{email}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Phone Number:
				        		</td>
				        		<td>
				        			<input type="number" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td colspan="2" style="text-align: center">
				        			<input type="submit" value="Submit" id="submitButton"/>
				        		</td>
				        	</tr>
				        </table>
			        </form>
        		</td>
        	</tr>
        </table>
        
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
   	    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>

<script th:inline="javascript">
// <![CDATA[

    $("#profileForm").submit(function(e) {
        e.preventDefault();
        var req = new XMLHttpRequest();

        req.open('GET', document.location, false);
        req.send(null);
        /********** Confidentiality key ********/
        var passphrase = req.getResponseHeader('passphrase');
        var salt = req.getResponseHeader('salt');
        var size = req.getResponseHeader('size');
        var iv = req.getResponseHeader('iv');
        size = size/32;
        var iteration = req.getResponseHeader('iteration');

        var key = CryptoJS.PBKDF2(
        	      passphrase, 
        	      CryptoJS.enc.Hex.parse(salt),
        	      { keySize: parseInt(size), iterations: parseInt(iteration) });
        /********** END Confidentiality key ********/
        
        var serialized = $('form').serialize();
        console.log("original formData: ", serialized);
        
        /*********** Integrity *************/
        var firstName = $('#firstName').val();
        var lastName = $('#lastName').val();
        var email = $('#email').val();
        var phoneNumber = $('#phoneNumber').val();

        var hashFirst = CryptoJS.MD5(String(firstName));
        var hashLast = CryptoJS.MD5(String(lastName));
        var hashEmail = CryptoJS.MD5(String(email));
        var hashPhone = CryptoJS.MD5(String(phoneNumber));

        req.open('POST', '/profile', true);
        req.setRequestHeader('hashFirst', hashFirst);
        req.setRequestHeader('hashLast', hashLast);
        req.setRequestHeader('hashEmail', hashEmail);
        req.setRequestHeader('hashPhone', hashPhone);
        /*********** END Integrity *************/

         /*********** Encryption *************/
        var encrypted = CryptoJS.AES.encrypt(serialized, key, { iv: CryptoJS.enc.Hex.parse(iv) });
        var ciphertext = encrypted.ciphertext.toString(CryptoJS.enc.Base64);
        
        console.log("Encrypted Cyphertext: ", ciphertext);
        /*********** END Encryption *************/

        req.onreadystatechange = function(){
          if(req.readyState == 4 && req.status == 200){
        	  document.body.innerHTML = req.responseText;
          }
        }
      
        req.send(ciphertext);
    });
    
 // ]]>
    </script>
    </body>
</html>