<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        
        <style>
        	th {
        		width: 100px;
        		border: 1px solid black;
        	}
        	h1 {
        		text-align: center;
        	}
        </style>
    </head>
    <body>
		
		<h1>Online Bank</h1>

        
        <table style="margin-left: auto; margin-right: auto">
        	<tr>
        		<th>
        			<a th:href="@{/hello}">Home</a>
        		</th>
        		<th>
        			<a th:href="@{/balance}">Check Balance</a>
        		</th>
        		<th>
        			<a th:href="@{/transfer}">Transfer Funds</a>
        		</th>
       	  		<th>
        			<a th:href="@{/profile}">Change Profile</a>
        		</th>
        		<th>
					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Sign Out"/>
        			</form>
        		</th>
        	</tr>
        	<tr>
        		<td colspan="5">
   			        <h2 th:inline="text">Transfer Funds</h2>
   			        <form action="#" th:action="@{/transfer}" th:object="${transfer}" method="post">
				        <table>
				        	<tr>
				        		<td>
				        			From Account:
				        		</td>
				        		<td>
				        			<input type="number" name="fromAccount" th:field="*{fromAccount}"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			To Account:
				        		</td>
				        		<td>
				        			<input type="number" name="toAccount" th:field="*{toAccount}"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Amount:
				        		</td>
				        		<td>
				        			<input type="number" name="amount" th:field="*{amount}"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td colspan="2" style="text-align: center">
				        			<input type="submit" value="Transfer"/>
				        		</td>
				        	</tr>
				        </table>
			        </form>
        		</td>
        	</tr>
        </table>
    
    </body>
</html>