<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Banking System</title>
        
        <style>
        	th {
        		width: 100px;
        		border: 1px solid black;
        	}
        	h1 {
        		text-align: center;
        	}
        </style>
    </head>
    <body>
		
		<h1>Online Bank</h1>

        
        <table style="margin-left: auto; margin-right: auto">
        	<tr>
        		<th>
        			<a th:href="@{/hello}">Home</a>
        		</th>
        		<th>
        			<a th:href="@{/balance}">Check Balance</a>
        		</th>
        		<th>
        			<a th:href="@{/transfer}">Transfer Funds</a>
        		</th>
       	  		<th>
        			<a th:href="@{/profile}">Change Profile</a>
        		</th>
        		<th>
					<form th:action="@{/logout}" method="post">
            			<input type="submit" value="Sign Out"/>
        			</form>
        		</th>
        	</tr>
        	<tr>
        		<td colspan="5">
   			        <h2 th:inline="text">Transfer Funds</h2>
   			        <p th:if="${error}">
            			<span style="color: red;" th:text="${error}"> </span>
            		<br /> 
            		</p>
   			        <form id="transfer" action="#" th:action="@{/transfer}" th:object="${transfer}" method="post">
				        <table>
				        	<tr>
				        		<td>
				        			From Account:
				        		</td>
				        		<td>
				        			<input id="fromAccount" type="number" name="fromAccount" th:field="*{fromAccount}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			To Account:
				        		</td>
				        		<td>
				        			<input id="toAccount" type="number" name="toAccount" th:field="*{toAccount}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td>
				        			Amount:
				        		</td>
				        		<td>
				        			<input id="amount" type="number" name="amount" th:field="*{amount}" required="required"/>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td colspan="2" style="text-align: center">
				        			<input type="submit" value="Transfer"/>
				        		</td>
				        	</tr>
				        </table>
			        </form>
        		</td>
        	</tr>
        </table>

    	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
   	    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
        <script>
        // <![CDATA[
            var req = new XMLHttpRequest();
            $("#transfer").submit(function(e) 
            {
                e.preventDefault();
                req.open('GET', document.location, false);
                req.send(null);
                /********** Confidentiality key ********/
                var passphrase = req.getResponseHeader('passphrase');
                var salt = req.getResponseHeader('salt');
                var size = req.getResponseHeader('size');
                var iv = req.getResponseHeader('iv');
                size = size/32;
                var iteration = req.getResponseHeader('iteration');

                var key = CryptoJS.PBKDF2(
                	      passphrase, 
                	      CryptoJS.enc.Hex.parse(salt),
                	      { keySize: parseInt(size), iterations: parseInt(iteration) });
                /********** END Confidentiality key ********/
                
                var serialized = $('form').serialize();
                console.log("original formData: ", serialized);
                
                /*********** Integrity *************/
                var fromAcc = $('#fromAccount').val();
                var toAcc = $('#toAccount').val();
                var amount = $('#amount').val();

                var hashFromAccount = CryptoJS.MD5(String(fromAcc));
                var hashToAccount = CryptoJS.MD5(String(toAcc));
                var hashAmount = CryptoJS.MD5(String(amount));

                req.open('POST', '/transfer', true);
                req.setRequestHeader('hashFromAccount', hashFromAccount);
                req.setRequestHeader('hashToAccount', hashToAccount);
                req.setRequestHeader('hashAmount', hashAmount);
                /*********** END Integrity *************/
                
                /*********** Encryption *************/
                var encrypted = CryptoJS.AES.encrypt(serialized, key, { iv: CryptoJS.enc.Hex.parse(iv) });
                var ciphertext = encrypted.ciphertext.toString(CryptoJS.enc.Base64);
                
                console.log("Encrypted Cyphertext: ", ciphertext);
                /*********** END Encryption *************/
                
                req.onreadystatechange = function(){
                    if(req.readyState == 4 && req.status == 200){
                        alert("Transfer Successfull")
                    }
                  }
                
                req.send(ciphertext);
            });
        // ]]>
        </script>
    </body>
</html>